server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mysql_shop?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 2611

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  jwt:
    secret: "clave-super-larga-minimo-32-caracteres-para-jwt-123456"
    expiration-ms: 3600000
