server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mysql_shop?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: YOUR_DB_USER
    password: YOUR_DB_PASSWORD

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  jwt:
    secret: YOUR_JWT_SECRET_32_CHARSET
    expiration-ms: 3600000
